html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    font-family:  Helvetica, sans-serif, Arial;
    margin: 0;
    padding: 0;
    background: rgb(32, 28, 37);
    /* background: linear-gradient(331deg, rgba(0,0,0,1) 27%, rgba(180,58,124,1) 53%, rgba(252,69,137,1) 76%, rgba(0,0,0,1) 96%); */
}

#terminal {
    z-index: 5;
    /* scroll-snap-align: start; */
    display: flex;
    height: calc(100vh - 8px);
    width: calc(100% - 8px);
    background-color: rgba(48,10,36);
    border-color: rgb(75, 72, 72);
    border-style: solid;
    border-width: 4px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    /* animation: 1s transitionToContact 1.25s ease-in; */
    animation-fill-mode: forwards;
}

#terminal-bar {
    z-index: 5;
    position: absolute;
    display: flex;
    width: calc(100% - 8px);
    max-width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(75, 72, 72);
}

.terminal-tab {
    z-index: 6; 
    /* left: calc(20% * var(--tab-position) + 2px); */
    /* width: calc(19.75%); */
    flex-grow: 1;
    background-color: gray;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.terminal-tab:hover {
    z-index: 7;
    background-color: rgb(57, 54, 54);
}

.terminal-mini {
    animation: transitionToContact 1.25s ease-in;
    animation-fill-mode: forwards;
}

.scroll-pane {
    scroll-snap-align: start;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgba(black);
}

#terminal-content {
    font-size: 1.5em;
    letter-spacing: .10em;
    white-space: nowrap;
    overflow: hidden;
    width: 640px;
    padding: 0;
    margin: auto;
    color: white
}

.console-line {
    height: 27.2px;
    margin: 2.5px;
    display: inline-block;
    /* float: left; */
    border-right: transparent;
}

.console-cat {
    display: flex;
    word-wrap: normal;
    overflow: auto;
}

.active-line {
    animation: blinkingCursor .75s step-end infinite;
}

.directory {
    color: greenyellow;
}

.underline {
    text-decoration: underline;
}

.prompt {
    color: white;
}

.stdin {
    color: white;
}

.typed-text {
    white-space: nowrap;
    overflow: hidden;
    width: var(--width);
    animation: var(--time) typingEffect steps(30, end);
}

.inline-title {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

#contact-info {
    display: block;
    margin: auto;
}

/* .minimize {
    animation: minimizeEffect 3s 1;
}

@keyframes minimizeEffect {
 from, to {
    transform: scale(30%);
 }
 50% {
    margin: 0;
 }
 100% {
    margin: 500px;
 }
} */
@keyframes transitionToContact {
    from {
        transform: rotateY(0deg);
    }
    to {
        translate: 0% 0%;
        transform: scale(50%);
        /* translate: -40%;
        transform: rotateY(90deg); */
    }
}

@keyframes gentleFloat {
    from {
        transform: rotateY(10deg) rotateX(10deg);
    }
    to {
        transform: rotateY(-10deg) rotateX(-10deg);
    }
}

@keyframes blinkingCursor {
    from, to { 
        border-right: .15em solid;
        border-color: transparent;
    }
    50% { border-color: white; }
}


@keyframes typingEffect {
    from {
        width: 0px;
    }
    to {
        width: var(--width);
    }
}

